---
import { Picture } from "@astrojs/image/components";
import clsx from "clsx";

let rotations: string[] = [
  "rotate-2",
  "-rotate-2",
  "rotate-2",
  "rotate-2",
  "-rotate-2",
];

const { accountId } = Astro.props as { accountId: number };
---

<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {
      rotations.map((_, index) => (
        <div
          class={clsx(
            "relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl",
            rotations[index % rotations.length]
          )}
        >
          <Picture
            src={`/images/${accountId}/photos/image-${index + 1}.jpg`}
            alt=""
            widths={[200, 400, 800]}
            aspectRatio="4:3"
            sizes="(min-width: 640px) 18rem, 11rem"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      ))
    }
  </div>
</div>
