---
import SimpleLayout from "../layouts/SimpleLayout.astro";
import { Tool } from "../components/pages/users/Tool";
import { ToolsSection } from "../components/pages/users/ToolsSection";

import { getAcount } from "../../database/prisma/lib/getAcount";
import { getAllUsers } from "../../database/prisma/lib/getAllUsers";

const account = await getAcount();

const users = await getAllUsers();
const workstations = users.filter(
  (user) => user.category.name === "Workstation"
);
const tools = users.filter((user) => user.category.name === "Tools");
---

<SimpleLayout
  header={{
    title: "Uses - " + account?.name,
    description:
      "Software I use, gadgets I love, and other things I recommend.",
  }}
  title="Software I use, gadgets I love, and other things I recommend."
  intro="I get asked a lot about the things I use to build software, stay productive, or buy to fool myself into thinking I’m being productive when I’m really just procrastinating. Here’s a big list of all of my favorite stuff."
>
  <div class="space-y-20">
    <ToolsSection title="Workstation">
      {
        workstations.map((workstation) => (
          <Tool title={workstation.title}>{workstation.description}</Tool>
        ))
      }
    </ToolsSection>
    <ToolsSection title="Development tools">
      {tools.map((tool) => <Tool title={tool.title}>{tool.description}</Tool>)}
    </ToolsSection>
  </div>
</SimpleLayout>
